<div class="container-fluid m-0 p-0">
<div class="img">
    <div class="row g-0 justify-content-center">
        <div class="col my-5">
            <div class="container  rounded py-3 " id="container" style="background-color: #fff; max-width: 500px;">
              <h2 class="text-center mb-3">User Login Form</h2>
                <!-- login form -->
                <form #userLoginForm="ngForm" (ngSubmit)="userLogin(userLoginForm.value)">
                  <!-- Enter Email -->
                    <div class="form-group mb-4">
                      <input type="email" [(ngModel)]="admin.email" name="email" class="form-control" placeholder="Enter Email" id="email" >
                    </div>
                  <!-- Enter Password -->
                    <div class="form-group mb-3">
                      <input type="password" [(ngModel)]="admin.password" name="password" class="form-control" placeholder="Enter Password" id="password">
                    </div>
                  <!-- Login Button -->
                    <div class=" text-center  mt-3">
                      <button [disabled]="userLoginForm.invalid"  class="btn userloginbtn w-25 loginBtn" style="outline: 1px solid  rgb(224, 3, 224); color:rgb(224, 3, 224);">login</button>
                    </div>
                  </form>
       </div>
        </div>
     </div>
  
</div>
</div>
