.sidebar {
    background-color: rgb(224, 3, 224);
    color: #fff;
    padding:  20px;
    height: 89vh;
    width: 70%;
    text-align: center;
}

.admin-home{
    width: 100%;
    margin-right: 145px;
    margin-top: 8%;

}
.admin-link{
    list-style: none;
    margin-top: 25px;
}
.admin-link li{
    margin-bottom: 45px;
}
.admin-link a{
    color: #fff;
    text-decoration: none;

}
.gradient-custome th{
    /* background: linear-gradient(to right, rgba(153, 97, 218, 0.911), rgba(255, 85, 190, 0.9)); */
     background-color: palevioletred;
     color: #fff;
    }
