.feed-form{
    background-color: rgb(238, 236, 232);
    width: 80%;
    padding: 40px 40px;
    border-radius: 20px;
}
.feed-btn{
    width: 80%;
}
.userfeedback-bg{
    background-color: black;

}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  #containers{
/* Ibtesam Gradient */
background: #00F5A0, #00D9F5;
background: -webkit-linear-gradient(90deg, #00F5A0, #00D9F5);
background: linear-gradient(90deg, #00F5A0, #00D9F5);
  }