.custom-container{
    background-color: #333; /* Specify your desired background color */
    min-height: 400px;
    margin-bottom: 20px; 
}
.form-check-input,.form-check-label{
    padding: 0 5px;
}
.test{
    background: linear-gradient(to right  , skyblue , purple,pink,blue);
    background-clip: text;
  -webkit-text-fill-color: transparent;
}