<div class="container-fluid">
    <div class="row">
      <div class="col-3 ps-0 mt-2 mb-2">
        <div class="sidebar">
          <ul class="admin-link text-start p-0 m-0 mt-4">
            <li><a routerLink="/admin-dash/dashboard" class="fs-5 ">Dashboard</a></li>
            <li><a routerLink="/admin-dash/user" class="fs-5 ">User</a></li>
            <li><a routerLink="/admin-dash/feedback" class="fs-5">Feedback</a></li>
            <li><a routerLink="/admin-dash/ranking" class="fs-5">Ranking</a></li>
            <li><a routerLink="/admin-dash/Create-Quiz" class="fs-5 ">Create Quiz</a></li>
            <button class="btn btn-outline-danger mt-2 me-5" style="color: #fff;" (click)="signout()">Signout</button>
          <router-outlet></router-outlet>
          </ul>
        </div>
      </div>
      <div class="col admin-home">
        <table style="width: 100%;" class="table table-striped text-center  ">
          <thead class="gradient-custome" >
            <tr>
              <th>S.N.</th>
              <th>Name</th>
              <th>Gender</th>
              <th>College</th>
              <th>Mobile</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <!-- Table content here -->
            <tr>
                <td>1</td>
                <td>M.Uzair Zulfiqar</td>
                <td>Male</td>
                <td>GCUF</td>
                <td>0307-7768525</td>
                <td>uzairmian395&#64;gmail.com</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Laiba</td>
                <td>Female</td>
                <td>GCUF</td>
                <td>0312-7768525</td>
                <td>laiba395&#64;gmail.com</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Hassan	</td>
                <td>Male</td>
                <td>GCUF</td>
                <td>0322-4567890</td>
                <td>hassan12&#64;gmail.com</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Aqsa</td>
                <td>Female</td>
                <td>GCUF</td>
                <td>0312-7768525</td>
                <td>aqsa39&#64;gmail.com</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Hamza</td>
                <td>Male</td>
                <td>GCUF</td>
                <td>0322-4567890</td>
                <td>hamza13&#64;gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  