body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    background-image: url('/assets/images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 630px;
}
