.img{
    background-image: url('/assets/images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 625px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginBtn:hover{
 background-color: rgb(224, 3, 224);
 color:white !important;
}